<h1>Assignments</h1>
  <h2>Assignment 1</h2>
    <ul class="list-group">
      <li class="list-group-item">A car part has a name etc. and belongs to many cars</li>
      <li class="list-group-item">A car make has a name and a country</li>
      <li class="list-group-item">Cars have make and model names, VIN numbers, and many parts</li>
      <li class="list-group-item">You will need to create a CarsParts model or scaffold</li>
      <li class="list-group-item">In the form for a car, have a drop-down with a list of possible parts to be added</li>
      <li class="list-group-item">Submit a PDF document that has all the Git differences from the initial "rails new" command, with your comments on what the changes do</li>
    </ul>
  <h3 class="left-add">Extras</h3>
    <ul class="list-group">
      <li class="list-group-item">Used TravisCI to run tests</li>
    </ul>
  <h2>Assignment 2</h2>
    <ul class="list-group">
      <li class="list-group-item">Add validations to all your models</li>
      <li class="list-group-item">Add a search in each index function</li>
      <li class="list-group-item">Write unit tests for all code you create</li>
    </ul>
  <h3>Extras</h3>
    <ul class="list-group">
      <li class="list-group-item">Made searches dynamic with autocomplete gem</li>
      <li class="list-group-item">Enabled car search by multiple column names</li>
      <li class="list-group-item">Used Bootstrap for formatting across the board</li>
      <li class="list-group-item">Added a NavBar</li>
      <li class="list-group-item">Created an AboutMe page and this assignments page</li>
    </ul>
</ul>
