
<div class="jumbotron">
  <h1 class="display-4">Created by Michael Newman with love 💕</h1>
  <p class="lead">
    This website was created for my Web Applications class. See the various specifications
    <a href=<%= about_assignments_path %>>here</a>.
  </p>
  <hr class="my-4">
  <h3>Learn more about me</h3>
  <button type="button" class="btn btn-success btn-lg"><a href="resume">Resume</a></button>


  <hr class="my-4">
  <h3>Made with these wonderful, open-source tools:</h3>
  <a class="btn btn-info btn-lg" href="https://getbootstrap.com/" role="button">Bootstrap</a>
  <a class="btn btn-danger btn-lg" href="https://rubyonrails.org/" role="button">Ruby on Rails</a>
  <a class="btn btn-info btn-lg" href="https://semantic-ui.com/" role="button">Semantic UI</a>
  <a class="btn btn-danger btn-lg" href="https://github.com/tomichj/autocomplete_rails" role="button">Autocomplete Rails</a>
  <a class="btn btn-info btn-lg" href="https://Travis-ci.org" role="button">TravisCI</a>

  <hr class="my-4">
  <h3>Data imported from:</h3>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-light btn-lg"><a href="https://naijadriva.wordpress.com/2018/11/24/countries-of-origin-of-car-brands/">Makes</a></button>
    <button type="button" class="btn btn-light btn-lg"><a href="https://github.com/atduskgreg/hypecyclist/blob/master/lists/List%20of%20auto%20parts.csv">Parts</a></button>
    <button type="button" class="btn btn-light btn-lg"><a href="https://www.fueleconomy.gov/feg/ws/index.shtml">Cars</a></button>
  </div>
</div>